################################################################################
# BTRFSBACK-LITE CONFIGURATION FILE
# ---------------------------------------------------------------------------
# This configuration file contains settings for BTRFS snapshots and replication.
# You can define different sections for DAILY, WEEKLY, MONTHLY, and YEARLY 
# snapshots. Each section specifies:
#   - Local directories to store snapshots
#   - Remote host and directories
#   - Snapshot retention counts
#   - Email address for reports
#   - Exclude containers from backup
#
# Usage example:
#   /usr/local/sbin/autosnaps-btrfsback-lite.sh --config /root/btrfsback-lite.cfg DAILY
#
# Notes:
#   - Only the sections you define will be executed.
#   - Times for snapshot execution are defined in crontab.

# BTRFS autosnap and replication scheduling crontab example:
# DAILY snapshot – every day at 01:00
# 0 1 * * * root /usr/local/sbin/autosnaps-btrfsback-lite.sh --config /root/btrfsback-lite.cfg DAILY
# WEEKLY snapshot – every Sunday at 03:00
# 0 3 * * 0 root /usr/local/sbin/autosnaps-btrfsback-lite.sh --config /root/btrfsback-lite.cfg WEEKLY
# MONTHLY snapshot – 1st day of each month at 04:00
# 0 4 1 * * root /usr/local/sbin/autosnaps-btrfsback-lite.sh --config /root/btrfsback-lite.cfg MONTHLY
# YEARLY snapshot – January 1st at 05:00
# 0 5 1 1 * root /usr/local/sbin/autosnaps-btrfsback-lite.sh --config /root/btrfsback-lite.cfg YEARLY

# ========================
# DAILY section - daily snapshots
# ========================
DAILY_BTRFSBACK_PATH="/usr/local/sbin/btrfsback-lite"         # Path to the btrfsback-lite script
DAILY_BTRFS_SUBVOL_ROOTFS="/"                                 # Path to the rootfs subvol
DAILY_CONTAINERS="/mnt/sda3/LXD/containers"                   # Root folder for LXD containers
DAILY_LOCALDIR_LXD="/mnt/sda3/.snapshots/LXD-btrfsback/daily"               # Local folder to store daily container snapshots
DAILY_LOCALDIR_ROOTFS="/mnt/sda3/.snapshots/ROOTFS-btrfsback/daily"    # Local folder to store daily rootfs snapshots
DAILY_REMOTE_IP="192.168.11.11"                                # Remote host IP address
DAILY_REMOTEDIR_ROOTFS="/mnt/NVME-128G/BACKUP/VPS-ROOT/daily"  # Remote folder for rootfs snapshots
DAILY_REMOTEDIR_LXD="/mnt/NVME-128G/BACKUP/VPS-LXD/daily"      # Remote folder for container snapshots
DAILY_LSNAP_ROOTFS="5"                                        # Number of local rootfs snapshots to keep
DAILY_RSNAP_ROOTFS="7"                                        # Number of remote rootfs snapshots to keep
DAILY_LSNAP_LXD="5"                                           # Number of local container snapshots to keep
DAILY_RSNAP_LXD="7"                                           # Number of remote container snapshots to keep
DAILY_EMAIL="info@unixit.org"                                 # Email address for daily reports
DAILY_EXCLUDE_CONTAINERS="testct container2"                  # Exclude containers from backup  

# ========================
# WEEKLY section - weekly snapshots
# ========================
WEEKLY_BTRFSBACK_PATH="/usr/local/sbin/btrfsback-lite"         # Path to the btrfsback-lite script
WEEKLY_BTRFS_SUBVOL_ROOTFS="/"                                 # Path to the rootfs subvol 
WEEKLY_CONTAINERS="/mnt/sda3/LXD/containers"                       # Root folder for LXD containers
WEEKLY_LOCALDIR_LXD="/mnt/sda3/.snapshots/LXD-btrfsback/weekly"      # Local folder to store weekly container snapshots
WEEKLY_LOCALDIR_ROOTFS="/mnt/sda3/.snapshots/ROOTFS-btrfsback/weekly"   # Local folder to store weekly rootfs snapshots
WEEKLY_REMOTE_IP="192.168.11.11"                                    # Remote host IP address
WEEKLY_REMOTEDIR_ROOTFS="/mnt/NVME-128G/BACKUP/VPS-ROOT/weekly"  # Remote folder for rootfs snapshots
WEEKLY_REMOTEDIR_LXD="/mnt/NVME-128G/BACKUP/VPS-LXD/weekly"      # Remote folder for container snapshots
WEEKLY_LSNAP_ROOTFS="3"                                        # Number of local rootfs snapshots to keep
WEEKLY_RSNAP_ROOTFS="4"                                        # Number of remote rootfs snapshots to keep
WEEKLY_LSNAP_LXD="3"                                           # Number of local container snapshots to keep
WEEKLY_RSNAP_LXD="4"                                           # Number of remote container snapshots to keep
WEEKLY_EMAIL="info@unixit.org"                                 # Email address for weekly reports
WEEKLY_EXCLUDE_CONTAINERS="testct container2"                  # Exclude containers from backup

# ========================
# MONTHLY section - monthly snapshots
# ========================
MONTHLY_BTRFSBACK_PATH="/usr/local/sbin/btrfsback-lite"          # Path to the btrfsback-lite script
MONTHLY_BTRFS_SUBVOL_ROOTFS="/"                                  # Path to the rootfs subvol 
MONTHLY_CONTAINERS="/mnt/sda3/LXD/containers"                        # Root folder for LXD containers
MONTHLY_LOCALDIR_LXD="/mnt/sda3/.snapshots/LXD-btrfsback/monthly"      # Local folder to store monthly container snapshots
MONTHLY_LOCALDIR_ROOTFS="/mnt/sda3/.snapshots/ROOTFS-btrfsback/monthly"   # Local folder to store monthly rootfs snapshots
MONTHLY_REMOTE_IP="192.168.11.11"                                     # Remote host IP address
MONTHLY_REMOTEDIR_ROOTFS="/mnt/NVME-128G/BACKUP/VPS-ROOT/monthly"  # Remote folder for rootfs snapshots
MONTHLY_REMOTEDIR_LXD="/mnt/NVME-128G/BACKUP/VPS-LXD/monthly"      # Remote folder for container snapshots
MONTHLY_LSNAP_ROOTFS="2"                                         # Number of local rootfs snapshots to keep
MONTHLY_RSNAP_ROOTFS="3"                                         # Number of remote rootfs snapshots to keep
MONTHLY_LSNAP_LXD="2"                                            # Number of local container snapshots to keep
MONTHLY_RSNAP_LXD="3"                                            # Number of remote container snapshots to keep
MONTHLY_EMAIL="info@unixit.org"                                  # Email address for monthly reports
MONTHLY_EXCLUDE_CONTAINERS="testct container2"                   # Exclude containers from backup

# ========================
# YEARLY section - yearly snapshots
# ========================
YEARLY_BTRFSBACK_PATH="/usr/local/sbin/btrfsback-lite"          # Path to the btrfsback-lite script
YEARLY_BTRFS_SUBVOL_ROOTFS="/"                                  # Path to the rootfs subvol 
YEARLY_CONTAINERS="/mnt/sda3/LXD/containers"                        # Root folder for LXD containers
YEARLY_LOCALDIR_LXD="/mnt/sda3/.snapshots/LXD-btrfsback/yearly"       # Local folder to store yearly container snapshots
YEARLY_LOCALDIR_ROOTFS="/mnt/sda3/.snapshots/ROOTFS-btrfsback/yearly"    # Local folder to store yearly rootfs snapshots
YEARLY_REMOTE_IP="192.168.11.11"                                     # Remote host IP address
YEARLY_REMOTEDIR_ROOTFS="/mnt/NVME-128G/BACKUP/VPS-ROOT/yearly"  # Remote folder for rootfs snapshots
YEARLY_REMOTEDIR_LXD="/mnt/NVME-128G/BACKUP/VPS-LXD/yearly"      # Remote folder for container snapshots
YEARLY_LSNAP_ROOTFS="1"                                         # Number of local rootfs snapshots to keep
YEARLY_RSNAP_ROOTFS="2"                                         # Number of remote rootfs snapshots to keep
YEARLY_LSNAP_LXD="1"                                            # Number of local container snapshots to keep
YEARLY_RSNAP_LXD="2"                                            # Number of remote container snapshots to keep
YEARLY_EMAIL="info@unixit.org"                                  # Email address for yearly reports
YEARLY_EXCLUDE_CONTAINERS="testct container2"                   # Exclude containers from backup

